@import "tailwindcss";

body{
    height: 100vh;
    max-width: 100vw;
    background: #121212;
    /* display: flex;
    justify-content: center;
    align-items: center; */

}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.font-poppins {
  font-family: 'Poppins', sans-serif;
}

.font-inter {
  font-family: 'Inter', sans-serif;
}

.font-rubik {
  font-family: 'Rubik', sans-serif;
}

.font-playwrite {
  font-family: 'Playwrite HU', cursive;
}
